[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


nav.vertical {
    margin-top: 35px; 
    position:absolute;
    display: inline-block;
    z-index: 2;
    left:0;
    padding: 0px;
    float: left;
    background: #555;
    height: 100%;
}

nav.vertical ul {
    height: 100%;
    width: 100%;
    list-style: none;
    position: relative;
    float: left;
}

nav.vertical li {
    height: 50%;
    position: relative;
}

nav.vertical a {
    height:100%;
    background: #555;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    transition: 0.2s;
}

nav.vertical li:hover > a {
    background: #8e161e;
}

nav.vertical ul ul{
    height: 200%;
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transform: translateX(50px);
}

nav.vertical li:hover > ul {
    left:100%;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

div.icon {
	float:right;
	cursor:pointer;
}
.vertinav {
    margin-left:16.66%;
}

.middlerow {
    display: inline-block;
    width: 50%;
}

.column {
    padding: 2px 2px;
    cursor: move;
}

.column.over {
    padding: 0px;
    border: 2px dashed #000;
}
