[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


nav.vertical {
    margin-top: 35px; 
    position:fixed;
    display: inline-block;
    z-index: 0;
    left:0;
    padding: 0px;
    float: left;
    background: #555;
    height: 100%;
}

nav.vertical ul {
    height: 100%;
    width: 100%;
    list-style: none;
    position: relative;
    float: left;
}

nav.vertical li {
    height: 25%;
    position: relative;
}

nav.vertical a {
	text-align:center;
    height:100%;
	line-height: 100%;
    background: #555;
    display: block;
    color: white;
    text-decoration: none;
    padding: 55% 0px;
    /*transition: 0.2s;*/
}

nav.vertical li:hover > a {
    background: #8e161e;
}

nav.vertical ul ul{
    height: 400%;
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transform: translateX(-30px);
}

nav.vertical li:hover > ul {
    left:100%;
    visibility: visible;
    opacity: 1;
	transition: transform 0.3s;
    transform: translateX(0px);
}

div.icon {
	float:right;
	cursor:pointer;
}
.vertinav {
	z-index: 0;
    margin-left:16.66%;
}

.middlerow {
    display: inline-block;
    width: 50%;
}

.column {
    padding: 2px 2px;
    cursor: move;
}

.column.over {
    padding: 0px;
    border: 2px dashed #000;
}


@media only screen and (max-width: 550px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	.vertinav {
		z-index:100;
		margin-left: 0px;
	}
	
	.middlerow {
		width: 80%;
	}
	
	nav.vertical {
		position:relative;
	}
}