@media only screen and (max-width: 550px) {
    /* For mobile phones: */
    .mobileInvisible {
        display:none;
    }
	
	.main{
		padding-bottom:129px;
	}
	.categoryListContainer{
		bottom:129px;
	}
}


@media only screen and (min-width: 551px, max-width: 767px) {
    /* For tablets: */
    .main{
		padding-bottom:44px;
	}
	.categoryListContainer{
		right:20%;
	}
}




@media only screen and (min-width: 768px) {
    /* For desktop and wider tablets: */
	.contentDesktop{
		margin-left:20%;
		margin-right:20%;
	}	
	
	.main{
		padding-bottom:44px;
	}
	
	.categoryListContainer{
		width:25%;
		bottom:44px;
		right:25%;
	}
}




.listcontainer {	
	min-height: 200px;
	padding: 0px 10px;
	display:inline-block;
	text-align:left;
	min-width:280px;
	max-width:600px;
	width: 50%;
	z-index:1;
}


#list{
	padding: 10px;
	margin:10px;
	list-style-type:none;
}

.listtext{
	font-family: Patrick Hand;
	font-size: 20px;
	padding: 0px 0px 0px 15px;
	display:inline-block;
}

.listelement{
	padding: 5px 10px 2px 10px;
	border-bottom: thin solid black;
}

.articleInput{
    padding: 4px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
	width:100%;
	font-family: Patrick Hand;
}


.categoryList a{
	height:100%;
	transition: 0.2s;
	padding: 5px 0px;
}

.categoryList ul{
	list-style-type:none;
	margin-top:10px;
	
}

.categoryList ul li{
	list-style-type:none;
}

.categoryList li:hover > ul{
	visibility:visible;
	transform: translateY(0px);
}

.categoryList ul ul{
	visibility:hidden;
	margin-top:-97px;
	background-color:#555;
	transition: transform 0.3s;
	transform: translateY(35px);
	z-index:-1;
	position:absolute;
	width:22.5%;
	margin-bottom:10px;
}

.categoryList ul li:hover{
	background:#ddd;
}

.categoryList{
	padding:0px 10px;
}

.baseboardElement{
	padding: 5px 10px;
}

.articleInput:hover{
	border-color:#8e161e;
	outline:none;
}

.articleInput:focus{
	border-color:#8e161e;
	outline:none;
	background-color:#eee;
}

a:visited,:link{
	color:black;
}





