*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}
html {
	background-color:#fff9f9;
}
/*general font formating*/
div,button,span,strong,nav,h1,h2,h3{font-family:Calibri;}

body{
	text-align:center;
}

/* Grid columns */
/*--------------*/

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 550px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	
	.popup{
    width: 95%;
    }
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
 

/*END: grid columns */

/* material-design icon styling classes */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*END: material-design icon styling classes */

/* general site elements*/

.main {
  padding-top: 40px;
  background-color: #fff9f9;
} 

.card {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  border-radius: 8px;  
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index:1001;
}

.popup {
  margin: 20% auto;
  padding: 20px;
  width:40%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup a{
	margin:20px;
	background-color: #555;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.popup a:hover {
  background-color: #8e161e;
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}


.baseboard{
	position:fixed;
	bottom:0;
	background-color:#555;
	color:white;
	width:100%;
	z-index:999;
}

/*END: general site elements*/

/*navigation bar elements*/
.navbar ul {
    list-style-type: none;	
	text-align:left;
}

.navbar li{
    display:inline-block;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar {
	overflow: hidden;
	background-color: #555;
	position:fixed;
	top: 0;
	width: 100%;
}

.active {
	background-color: #8e161e;	
}

.rightAlign{
	float: right;
}

/*END: navigation bar elements*/


/* useful classes */

.hiddenField{
	display:none!important;
}





@media only screen and (max-width: 550px) {
    /* For mobile phones: */	
	.popup{
    width: 95%;
    }
}


@media only screen and (min-width: 551px) and (max-width: 767px) {
    /* For tablets: */
	.popup{
    width: 70%;
    }
}
