[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.middlerow {
    width: 80%;
    margin: auto;
}

.column {
    padding: 2px 2px;
    cursor: move;
}

.column.over {
    padding: 0px;
    border: 2px dashed #000;
}
